@import "../../sass/abstracts/";

.insta-ress {
    width: 100%;
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding: 1.5em;


        @include tablet {
            padding: 1em 0;
        }
    }
}