@import "../../../sass/abstracts/";

.home-page {
    margin-bottom: calc(min(150px, 20vh));

    @include tablet {
        max-width: $normal_max_width;
        margin: 0 auto;
        height: calc(100vh - 110px);
        margin-bottom: 0;
    }

    @include small_height {
        display: flex;
        flex-direction: column;
    }

    .description {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            width: 66%;
        }

        

        &-desc {
            width: 50%;
            &-box {
                display: flex;
                margin: 12px;

                .icon {
                    p {
                        font-size: 12px;
                    }

                    @include medium_phone {
                        font-size: 14px;
                    }

                    @include tablet {
                        font-size: 16px;
                    }

                    @include desktop {
                        font-size: 18px;
                    }
                }
                .text {
                    width: 100%;
                    p {
                        width: 100%;
                        font-family: Cormorant;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1.3em;
                        letter-spacing: 0em;
                        text-align: center;

                        @include medium_phone {
                            font-size: 14px;
                        }

                        @include tablet {
                            font-size: 16px;
                        }

                        @include desktop {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .instagram {
            width: 50%;

            div {
                height: 200px;
            }

            p {
                font-family: Montserrat;
                font-size: 11px;
                font-style: normal;
                font-weight: 250;
                line-height: 1.3em;
                letter-spacing: 0em;
                text-align: center;
            }
        }
    }

    @include tablet {
        .bake-menu {
            width: 75%;
            margin: 0 auto;
            margin-bottom: 92px;

            &-cards {
                width: 100%;
            }
        }
    }

    @include small_desktop {
        .bake-menu {
            width: 66.6%;
            margin: 0 auto;
            margin-bottom: 92px;

            &-cards {
                width: 100%;
            }
        }
    }

    @include small_height {
        
        .title-section {
            order: 0;
            margin-top: -2em;
        }
        .bake-menu {
            order: 1;
        }
        .description {
            order: 2;
        }
    }
}
