@import "../../../sass/abstracts/";

.contact-page {
    @include tablet {
        max-width: $normal_max_width;
        margin: 0 auto;
        height: calc(100vh - 110px) ;
    }
}

.contact {
    
    margin-left: 6vw;
    margin-right: 6vw;

    &-box {
        width: 100%;
        

        .address,
        .directions {
            display: flex;
            justify-content: space-between;

            p {
                margin-bottom: 0.5em;
                font-family: Cormorant;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
            }

            
        }

        h1,
        h2 {
            margin: 0.5em 0;
            font-family: Cormorant;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.333333px;
        }

        .social-media {
            &-col {
                margin-top: calc(min(36px,6vh));
                width: 100%;
                display: flex;
                align-items: center;

                img {
                    width: calc(min(68px,12vh));
                }

                small {
                    font-family: Cormorant;
                    font-size: 14px;
                    line-height: 1.2em;
                    margin-left: 3em;

                    @include tablet {
                        font-size: 15px;
                    }
                }
            }

            @include tablet {
                margin-bottom: 96px;
            }
        }

        .instagram {
            width: 50%;
            margin: 30px auto;

            div {
                height: 200px;
            }

            p {
                font-family: Montserrat;
                font-size: 11px;
                font-style: normal;
                font-weight: 250;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: center;
            }

            hr {
                margin: 20px 0;
            }

            @include tablet {
                margin-bottom: 96px;
            }
        }
        .desc {
            margin-top: 1em;
            margin-bottom: calc(min(150px,20vh));

            @include tablet {
                margin: 1em 0;
            }

            p {
                margin-bottom: 0.5em;
                font-family: Cormorant;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
            }
            .img {
                display: flex;
                justify-content: center;
                img {
                    margin: 0 auto;
                    width: 1.2cm;
                }
            }
        }
    }
}
