@import "../../sass/abstracts/";

.navbar {
    &-fix {
        position: fixed;
        z-index: 100;
        width: 100vw;

        max-height: 100px;

        background-color: white;

        &-box {
            margin: 20px 20px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            height: 100%;

            .icon {
                img {
                    width: 59px;
                }
            }
            .menu {
                svg {
                    width: 40px;
                }
            }

            .title-box {
                position: relative;
                width: 100%;
                
                h1 {
                    font-family: "Patrick Hand SC";
                    text-transform: uppercase;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: -0.3333333432674408px;
                    text-align: center;
                }
                hr {
                    position: absolute;
                    width: 120%;
                    right: 50%;
                    transform: translateX(50%);
                    margin-top: 12px;
                    background-color: black;
                    height: 1px;
                    border: 0;
                }
                .img {
                    display: flex;
                    justify-content: space-between;
                    
                    margin: 0 5%;

                    margin-top: -10px;
                    img {
                        
                        
                        object-fit: contain;
                        max-height: 32px;

                        &:last-child {
                            transform: rotate(45deg) ;
                            
                        }
                    }
                }   
                
            }
        }
    }

    .menuButton2 {
        background-color: transparent !important;
        transition: 100ms;
    }

    .menu-open {
        transition: 500ms;
        height: 100vh;
        width: 100vw;
        z-index: 101;
        position: fixed;

        @include medium-height {
            height: 80vh;
        }

        @include tablet {
        }

        .navbar-fix {
            left: 0 !important;
            width: 100%;
        }
    }

    .menu-open-enter {
        transform: translateX(101%);
    }
    .menu-open-enter-active {
        transform: translateX(0%);
        transition: all var(-speed) ease;
    }
    .menu-open-exit {
        transform: translateX(0%);
    }
    .menu-open-exit-active {
        transform: translateX(101%);
        transition: all var(-speed) ease;
    }


    .space {
        height: 110px;
    }
}

.desktop {
    display: none;
}

@include tablet {
    .desktop {
        display:block;
    }
}


.menu-menu {
    position: fixed;
    z-index: 101;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;

    border: 5px solid #ffe7f9;
    background-color: white;

    animation: color 5s linear 2s infinite alternate;

    @keyframes color {
        from {
            border: 5px solid #ffe7f9;
        }
        to {
            border: 5px solid #d7b4d8;
        }
    }

    @include tablet {
        height: 88px;
    }

    .max-width {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: $normal_max_width;
            margin: 0 auto;
            height: 100%;
        }

        .navbar-fix {
            position: relative;
            left: 5px;

            @include tablet {
                position: absolute;
                z-index: 0;

                .menu {
                    display: none;
                }
                &-box {
                    margin: 5px;

                    .icon {
                        width: 5vw;
                        margin: 0 5px !important;
                    }
                }

                width: 0;
            }
        }

        .title {
            margin: 3.2vh 0 2vh;

            @include medium-height {
                margin: 50px 0 26px;
            }

            @include tablet {
                display: flex;
                justify-content: left;
                margin: 0;
            }

            h3 {
                font-family: "Sirin Stencil";
                font-size: 2.8vh;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: -0.3333333432674408px;
                text-align: center;

                @include tablet {
                    display: none;
                }

                @include medium-height {
                    font-size: 18px;
                }
            }

            svg {
                display: none;
                width: 42px;
                height: 42px;
                margin: 8px;

                @include tablet {
                    display: initial;
                    filter: invert(100%);
                }
            }
        }

        .menu-box {
            @include tablet {
                display: flex;
                justify-content: center;
                height: 100%;
                width: 80%;
            }

            @include small_desktop {
                width: 100%;
            }

            ul {
                margin-top: 11.68vh;

                @include tablet {
                    margin: 5px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }

                li {
                    margin: 5.86vh 0;

                    &:hover {
                        text-decoration: underline;
                    }

                    @include tablet {
                        margin: 0;
                    }

                    a {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        margin-right: 6.666vw;

                        @include tablet {
                            margin: 0 15px;
                            display: flex;
                            justify-content: center;
                        }

                        h3 {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: normal;
                            font-size: calc(min(24px, 4vh));
                            line-height: 1.2em;
                            text-align: center;
                            letter-spacing: -0.333333px;
                            text-transform: uppercase;

                            color: #000000;

                            @include tablet {
                                font-size: 14px;
                                line-height: 18px;
                            }

                            @include small_desktop {
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }

                        img {
                            height: calc(min(30px, 5vh));
                            margin-left: calc(min(5.5vw, 22px));

                            filter: invert(99%) sepia(80%) saturate(1456%)
                                hue-rotate(191deg) brightness(84%) contrast(88%);
                        }
                    }
                }
            }
        }

        .copyright {
            h3 {
                float: left;
                margin: 2vh 6.66vw;
                font-family: Podkova;
                font-size: 8px;
                font-weight: 200;
                color: #e4ebf0;
            }

            @include tablet {
                display: none;
            }
        }

        .footer-icons {
            position: absolute;

            bottom: calc(max(5vh, 20px));
            right: calc(max(6.66vw, 20px));

            img {
                height: calc(min(60px, 10vh));
            }

            filter: invert(99%) sepia(80%) saturate(1456%) hue-rotate(191deg)
                brightness(84%) contrast(88%);

            @include tablet {
                display: none;
            }
        }

        .desktop-extra-icons {
            display: none;
            @include desktop {
                display: block;
                position: absolute;
                width: 100%;
                top: 0;

                .left-icon {
                    position: absolute;
                    height: 24px;
                    left: 9%;
                    top: 30px;
                }
                .right-icon {
                    position: absolute;
                    height: 32px;
                    right: 9%;
                    top: 10px;
                }
                .right-right-icon {
                    position: absolute;
                    height: 54px;
                    right: calc(7% - 80px);
                    top: 20px;
                }
            }
        }
    }
}