@import "../../../sass/abstracts/";

.menu-page-page {

    @include tablet {
        max-width: $normal_max_width;
        margin: 10px auto;
        height: calc(100vh - 110px) ;

        .bake-menu-page-fixed {
            position: relative;

            width: 100%;
            
            .bake-menu {
                width: unset;
            }
        }
    }
}

.menu-page {
    margin: 0 6vw 0vh;

    overflow: scroll;



    @include tablet {
        overflow: hidden;
        margin: 10px 6vw;
        height: unset;
        display: flex;
        margin: 0 3vw;
    }

    

    &-box {
        @include tablet {
            margin: 0 3vw;
            
        }
        @include small_height {
            &:last-child {
                margin-bottom: calc(15vh + 2em);
            }
        }

        h1 {
            font-family: Cormorant;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.2em;
            letter-spacing: 0.04em;
            text-align: left;

            @include tablet {
                font-size: 26px;
            }
        }
        .menu-sort {
            
            margin-top: 1em;
            &-item {
                margin-bottom: 1em;
                &-title {
                    display: flex;

                    h3 {
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0.04em;
                        text-align: left;
                        margin-right: 1em;
                    }
                    p {
                        
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0.04em;
                        text-align: left;
                        margin-right: 1em;
                    }
                    img {
                        width: 16px;
                    }
                }

                &-desc {
                    margin-top: 0.5em;
                    p {
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0.04em;
                        text-align: left;
                    }
                }
            }
        }
    }

    .bake-menu-page {
        @include tablet {
            height: unset;
        }
    }
}



.bake-menu-page {
    

    &-fixed {
        background-color: white;
        position: fixed;
        bottom: 0;
        margin-top: 3em;

        padding-bottom: 15vh;
        padding-top: 10px;

        .bake-menu {
            width: 100vw;
        }

        @include small_height {
            display: none;
        }
    }
}

.menu-title-fix {
    position: relative;

    .title-box {
        position: absolute;
        top: -76px;
        left: 50%;

        transform: translateX(-50%);

        z-index: 100;

        @include tablet {
            top: 0px;
            position: relative;
        }

        h1 {
            font-family: "Patrick Hand SC";
            text-transform: uppercase;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.8em;
            letter-spacing: -0.3333333432674408px;
            text-align: center;

            @include tablet {
                font-size: 26px;
            }
        }
        hr {
            position: absolute;
            width: 120%;
            right: 50%;
            transform: translateX(50%);
            margin-top: 12px;
            background-color: black;
            height: 1px;
            border: 0;
        }
    }
}