.menu-page {
    margin: 0 6vw;

    height: 50vh;
    overflow: scroll;

    &-box {
        
        

        h1 {
            font-family: Cormorant;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0.04em;
            text-align: left;
        }
        .menu-sort {
            
            margin-top: 1em;
            &-item {
                margin-bottom: 1em;
                &-title {
                    display: flex;

                    h3 {
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0.04em;
                        text-align: left;
                        margin-right: 1em;
                    }
                    p {
                        
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0.04em;
                        text-align: left;
                        margin-right: 1em;
                    }
                    img {
                        width: 16px;
                    }
                }

                &-desc {
                    margin-top: 0.5em;
                    p {
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0.04em;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.bake-menu-page {
    &-fixed {
        background-color: white;
        position: fixed;
        bottom: 0;

        padding-bottom: 15vh;
        padding-top: 10px;

        .bake-menu {
            width: 100vw;
        }
    }
}

.menu-title-fix {
    position: relative;

    .title-box {
        position: absolute;
        top: -76px;
        left: 50%;

        transform: translateX(-50%);

        h1 {
            font-family: "Patrick Hand SC";
            text-transform: uppercase;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: -0.3333333432674408px;
            text-align: center;
        }
        hr {
            position: absolute;
            width: 120%;
            right: 50%;
            transform: translateX(50%);
            margin-top: 12px;
            background-color: black;
            height: 1px;
            border: 0;
        }
    }
}