@import "../../sass/abstracts/";

.bake-menu {
    margin-left: 3vw;
    margin-right: 3vw;

    .title-box {
        display: flex;
        justify-content: center;


        h2 {
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 900;
            line-height: 1.4em;
            letter-spacing: 0.04em;
            text-align: center;
            text-transform: uppercase;
            margin-right: 0.5em;

            @include tablet {
                font-size: 14px;
            }
        }
        p {
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.4em;
            letter-spacing: 0.04em;
            text-align: center;

            @include tablet {
                font-size: 14px;
            }
        }

        
    }
    &-cards {
        
        
        margin-top: 1.2em;
        position: relative;
        
        ul {
            white-space: nowrap;
            overflow: auto;
            position: relative;
            

            @include tablet {
                display: flex;
                justify-content: center;
                overflow: unset;
            }
          

            .bake-menu-item {
                margin-bottom: 0.5em;

                position: relative;
                $width: 29vw;
                
                display: inline-block;
                width: $width;
                margin-right: 3.5vw;
                
                @include tablet {
                    margin: 0 0.5em;
                }

                &:hover {
                    cursor: pointer;
                }

                &:last-child {
                    margin-right: 6vw;

                    @include tablet {
                        margin-right: 3.5vw;
                    }
                }

                img {
                    width: $width;
                    height: $width;
                    object-fit: cover;
                    
                    @include tablet {
                        width: 100%;
                        height: fit-content;
                        object-fit: contain;
                    }

                    @include small_desktop {
                        
                        object-fit: contain;
                        
                    }
                }
                p {
                    font-family: Cormorant;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 1.2em;
                    text-align: center;
                    letter-spacing: 0.04em;
                    white-space: pre-wrap;

                    padding: 0 0.5em;

                    img {
                        width: 1em;
                        height: 1em;
                    }

                    @include tablet {
                         font-size: 15px;
                    }
                }

                .click-me {
                    position: absolute;
                    z-index: 20;
                    width: $width;
                    height: $width;

                    top: 50%;
                    left: 50%;

                    transform: translate(-50%,-50%);

                    background-color: white;
                    border-radius: 50%;

                    opacity: 0;

                    $op: 0.3;

                    @include tablet {
                        $op: 0.05;
                    }

                    animation: click-me-animation_medium_phone 4s ease-in-out 1s infinite;

                    @keyframes click-me-animation_medium_phone {
                        0% {
                            width: 0vw;
                            height: 0vw;
                            opacity: $op;
                        }
                        100% {
                            width: 20vw;
                            height: 20vw;
                            opacity: 0;
                        }
                    }

                    
                }
            }
        }
    }
}



