.footer {
    &-social-media {
        position: fixed;

        bottom: 48px;
        right: 36px;

        filter: invert(99%) sepia(80%) saturate(1456%) hue-rotate(191deg)
            brightness(84%) contrast(88%);
        -webkit-filter: invert(99%) sepia(80%) saturate(1456%)
            hue-rotate(191deg) brightness(84%) contrast(88%);

        .footer-icons {

            img {
                &:hover {
                    box-shadow: inset 0 0 10px #00000049, 0 0 10px #00000049;
                    border-radius: 50%;
                }
            }
        }
    }

    &-copyright {
        width: 100%;
        margin-top: 0;
        height: 24px;

        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            p {
                text-align: center;
                font-family: Podkova;
                font-size: 10px;
                font-weight: 200;
                color: #cbdbe7;
            }
        }
    }
}
