.opening-hours {
    margin-left: 6vw;
    margin-right: 6vw;

    &-box {
        width: calc(min(30ch,100%));
        
        .main, .other {
            display: flex;    
            justify-content: space-between;
        }
        

        h1, h2 {
            margin: 0.5em 0;
            font-family: Cormorant;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.333333px;
        }

        p {
            margin-bottom: 0.5em;
            font-family: Cormorant;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
        }

        small {
            width: 50%;
            font-family: Cormorant;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 0.5em;
            text-align: center;
        }
    }
}
